.homepage {
  width: 100%;
  height: 100%;
  background-color: darkorchid;
  padding: 2rem 0;
}
.header {
  font-size: xx-large;
  font-weight: bolder;
}
.subheader {
  font-size: medium;
  font-weight: bold;
  color: goldenrod;
}
